<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">

</head>

<body>
    <h1>500</h1>
    <h3>Fatal fallo del servidor:</h3>
    <h5>
        <%= status %>
    </h5>
    <img src="https://ca-times.brightspotcdn.com/dims4/default/c3611e1/2147483647/strip/true/crop/2000x1333+0+0/resize/1486x990!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fc0%2F73%2F2724b62512b67caedaab3c333bbb%2Fla-sci-sn-chimp-game-theory-humans-20140605-002">
</body>

</html>