<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>404</title>

</head>
<header class="top-bar">


</header>

<body>
    <%- include ("navbar") %>

        <main>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, pariatur repellendus, magni excepturi placeat expedita saepe eveniet nisi id eum repudiandae autem quas fugiat? Facilis quisquam nisi neque totam molestias! Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Aliquid nam non, ullam odit, tempora iusto assumenda fugiat libero eligendi eum ipsum minus nulla, veniam ab. Tempora ea optio natus et? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum excepturi
            minima quis fugit ipsa veritatis magni, in provident, at alias cumque nihil ducimus cupiditate adipisci eos nulla? Cumque, quasi alias.
        </main>



</body>

</html>