:root {
    --bg-color: #121212;
    --bg-color-2: #1f1e1e;
    --bg-color-3: #353434;
    --primary-color: #BB86FC;
    --primary-dark-color: #1f1a24;
    --error-color: #cf6679;
    --on-bg-color: rgba(255, 255, 255, 0.87);
    --on-bg-color-medium: rgba(255, 255, 255, 0.6);
    --on-bg-color-disabled: rgba(255, 255, 255, 0.38);
    --on-primary-color: #000;
    --on-error-color: #000;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--on-bg-color);
    font-family: 'Nunito', sans-serif;
}

main {
    margin-left: 16rem;
    padding: 1rem;
    margin-right: 16rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: #9a58eb;
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.login-logo {
    display: flex;
    align-items: flex-end;
}

.login-right {
    padding: 1rem;
    width: 50%;
    background-color: var(--bg-color-2);
    border-radius: .25rem;
}

.form-element {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-control {
    background-color: var(--bg-color-3);
    border: 0px;
    color: var(--on-bg-color);
}

#btn-file-upload {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

#file-upload {
    margin: auto;
    padding: .5rem;
    opacity: 0;
    display: hidden;
    z-index: -1;
}

.form-control:focus {
    background-color: var(--bg-color-3);
    color: var(--on-bg-color-medium);
    box-shadow: 0 0 0 0.25rem var(--primary-color)
}

.btn {
    background-color: var(--primary-color);
    color: var(--on-primary-color)
}

.login-left {
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 5rem;
    background-color: #ffffff14;
    height: 100vh;
    position: fixed;
    transition: width 600ms ease;
    align-items: initial;
    /*     overflow: scroll;
 */
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .nav-text {
    display: inline;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--on-bg-color-disabled);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--primary-color);
}

.navbar .nav-icon {
    min-width: 2rem;
    width: 2rem;
    max-width: 4rem;
    margin: 0 1.5rem;
}

.navbar .user-img {
    min-width: 2rem;
    width: 2rem;
    max-width: 4rem;
    margin: 0 1.5rem;
    border-radius: 50%;
}

.nav-text {
    display: none;
    margin-left: 1rem;
}

.nav-item:last-child {
    margin-top: auto;
}

.questions-container {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.subtitle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question-element {
    background-color: var(--bg-color-3);
    margin: 1rem 0rem 2.5rem;
    padding: .5rem .5rem;
    border-radius: .25rem;
}

.question-extradata {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    border-radius: 50%;
    align-items: center;
    width: 100%;
    max-width: 10rem;
    height: auto;
}

.tags-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.tag-element {
    padding: .5rem;
    margin-right: 1rem;
    color: var(--on-primary-color);
    background-color: var(--primary-color);
    border-radius: .25rem;
}

.tag-element {
    margin-right: 1rem;
    color: var(--on-primary-color);
    background-color: var(--primary-color);
    border-radius: .25rem;
}

.tag-element a,
.tag-element a:visited,
.tag-element a:hover,
.tag-element a:active {
    color: inherit;
    text-decoration: none;
}