svg {
    min-width: 20rem;
    width: 20rem;
    max-width: 40rem;
    min-height: 20rem;
    height: 20rem;
    max-height: 40rem;
}

.normal-kind {}

.normal-kind #eyeskind {
    visibility: hidden;
}

.normal-kind #eyesangry {
    visibility: hidden;
}

.normal-kind:hover {
    animation: heartbeat 2.5s ease-in-out both
}

.normal-kind:hover #eyeskind {
    visibility: visible;
}

.normal-kind:hover #eyesnormal {
    visibility: hidden;
}

.angry {
    animation: vibrate-1 .75s linear infinite both
}

.angry #eyesangry {
    visibility: visible;
}

.angry #eyesnormal {
    visibility: hidden;
}

.angry #eyeskind {
    visibility: hidden;
}

.angry {}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out
    }
    10% {
        transform: scale(.90);
        animation-timing-function: ease-in
    }
    15% {
        transform: scale(1);
        animation-timing-function: ease-out
    }
    30% {
        transform: scale(.85);
        animation-timing-function: ease-in
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out
    }
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}