:root {
    --bg-color: #121212;
    --bg-color-2: #1f1e1e;
    --bg-color-3: #353434;
    --primary-color: #BB86FC;
    --primary-dark-color: #1f1a24;
    --error-color: #cf6679;
    --on-bg-color: rgba(255, 255, 255, 0.87);
    --on-bg-color-medium: rgba(255, 255, 255, 0.6);
    --on-bg-color-disabled: rgba(255, 255, 255, 0.38);
    --on-primary-color: #000;
    --on-error-color: #000;
    font-size: 16px;
}

.img {
    padding: 0.5rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.container {
    margin-top: 3rem;
}

.card {
    color: var(--on-bg-color);
    margin: 1rem;
    background-color: var(--bg-color-3);
    border: none;
    width: fit-content;
    height: fit-content;
}