<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <svg class="nav-icon" viewBox="0 0 1000 900" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="monky">
                        <g id="nose">
                        <path id="left" d="M444.074 575.241C415.066 575.241 391.465 600.111 391.465 630.683C391.465 661.255 415.064 686.125 444.074 686.125C473.072 686.125 496.662 661.255 496.662 630.683C496.662 600.111 473.072 575.241 444.074 575.241ZM444.074 642.417C437.934 642.417 432.939 637.152 432.939 630.683C432.939 624.214 437.935 618.949 444.074 618.949C450.203 618.949 455.189 624.214 455.189 630.683C455.189 637.152 450.201 642.417 444.074 642.417Z" fill="white"/>
                        <path id="right" d="M559.119 575.241C530.123 575.241 506.533 600.111 506.533 630.683C506.533 661.253 530.121 686.125 559.119 686.125C588.127 686.125 611.728 661.255 611.728 630.683C611.728 600.111 588.129 575.241 559.119 575.241ZM559.119 642.417C552.992 642.417 548.006 637.152 548.006 630.683C548.006 624.214 552.99 618.949 559.119 618.949C565.26 618.949 570.254 624.214 570.254 630.683C570.254 637.152 565.26 642.417 559.119 642.417Z" fill="white"/>
                        </g>
                        <g id="fullface">
                        <path id="Face" d="M876.514 314.991C864.32 314.991 852.174 316.934 840.549 320.649C819.266 268.022 786.924 220.525 746.123 182.28C737.564 174.255 724.457 175.066 716.85 184.085C709.236 193.103 710.004 206.916 718.562 214.935C759.582 253.386 790.986 302.338 809.385 356.523C816.326 376.912 821.443 398.195 824.603 419.77C827.143 437.183 828.428 454.998 828.428 472.724C828.428 474.448 828.406 476.151 828.389 477.818C828.098 499.697 825.838 521.54 821.66 542.765C803.381 636.242 747.703 717.913 671.289 767.288C676.402 749.64 679 731.321 679 712.582C679 696.674 677.115 681.01 673.377 665.777C705.885 655.852 735.277 636.216 757.84 609.003C786.125 574.895 801.697 531.136 801.697 485.792C801.697 382.453 721.93 298.38 623.881 298.38C577.643 298.38 534.064 316.997 501.162 350.165C468.262 316.993 424.691 298.38 378.463 298.38C280.414 298.38 200.646 382.453 200.646 485.792C200.646 531.14 216.217 574.893 244.492 609.003C267.053 636.22 296.443 655.854 328.953 665.779C325.227 680.998 323.344 696.657 323.344 712.582C323.344 731.331 325.965 749.656 331.084 767.316C254.396 717.806 198.629 635.818 180.502 541.936C176.305 520.348 174.088 498.036 173.914 475.624V475.599C173.914 475.519 173.912 475.424 173.912 475.346C173.896 474.471 173.896 473.596 173.896 472.721C173.896 455.811 175.07 438.821 177.389 422.213C180.447 400.191 185.559 378.442 192.596 357.552C238.762 220.153 362.766 127.838 501.283 127.838C544.498 127.855 586.477 136.605 626.055 153.839C636.646 158.441 648.768 153.141 653.141 141.987C657.514 130.833 652.478 118.053 641.894 113.443C611.812 100.344 580.508 91.6104 548.352 87.2942L586.748 46.8282C594.846 38.2945 594.846 24.4566 586.748 15.9209C578.648 7.38926 565.521 7.38926 557.42 15.9209L521.902 53.3509V21.8529C521.902 9.78511 512.617 0 501.166 0C489.715 0 480.43 9.78511 480.43 21.8529V53.2295L445.035 15.9291C436.937 7.39749 423.807 7.39749 415.709 15.9291C407.611 24.4628 407.611 38.3007 415.709 46.8364L454.131 87.3292C324.896 104.878 212.668 193.784 161.482 321.299C149.262 317.144 136.42 314.988 123.486 314.988C55.3965 314.991 0 373.38 0 445.149C0 516.905 55.3965 575.284 123.486 575.284C130.732 575.284 137.896 574.609 144.939 573.308C159.127 629.17 185.219 681.428 221.168 725.595C260.316 773.693 310.297 811.158 365.961 834.303C399.834 876.13 448.785 900 501.162 900C553.537 900 602.502 876.124 636.383 834.303C691.91 811.212 741.789 773.86 780.891 725.924C816.885 681.794 843.035 629.536 857.279 573.689C863.611 574.734 870.031 575.284 876.514 575.284C944.603 575.284 1000 516.905 1000 445.149C1000 373.38 944.603 314.991 876.514 314.991ZM142.42 382.655C136.354 380.605 129.977 379.501 123.488 379.501C89.1406 379.501 61.1953 408.952 61.1953 445.149C61.1953 481.346 89.1406 510.796 123.488 510.796C127.092 510.796 130.643 510.456 134.119 509.832C134.74 516.752 135.529 523.639 136.498 530.479C132.221 531.195 127.881 531.576 123.488 531.576C78.2637 531.578 41.4727 492.806 41.4727 445.149C41.4727 397.481 78.2637 358.696 123.486 358.696C131.652 358.696 139.752 360.016 147.494 362.51C145.631 369.169 143.943 375.891 142.42 382.655ZM134.992 426.838C133.584 439.437 132.742 452.182 132.502 464.916C129.723 466.324 126.666 467.088 123.486 467.088C112.006 467.088 102.666 457.245 102.666 445.147C102.666 433.048 112.006 423.205 123.486 423.205C127.678 423.207 131.641 424.49 134.992 426.838ZM607.637 802.373C581.574 836.642 542.766 856.294 501.16 856.294C459.551 856.294 420.75 836.644 394.695 802.361C394.152 801.649 393.631 800.918 393.104 800.198H609.24C608.709 800.924 608.185 801.659 607.637 802.373ZM627.264 657.927C634.072 675.352 637.522 693.743 637.522 712.591C637.522 727.661 635.344 742.368 631.041 756.494H371.305C367.006 742.372 364.818 727.663 364.818 712.591C364.818 693.708 368.262 675.317 375.057 657.927C377.49 651.694 377.061 644.628 373.891 638.774C370.721 632.92 365.164 628.935 358.836 627.976C292.299 617.88 242.121 556.759 242.121 485.796C242.121 406.556 303.283 342.09 378.465 342.09C420.08 342.09 458.902 361.786 484.971 396.126C488.904 401.309 494.863 404.329 501.164 404.329C507.465 404.329 513.422 401.311 517.355 396.126C543.426 361.786 582.254 342.09 623.883 342.09C699.063 342.09 760.227 406.558 760.227 485.796C760.227 556.757 710.043 617.88 643.49 627.976C637.16 628.935 631.605 632.922 628.436 638.774C625.262 644.628 624.832 651.694 627.264 657.927ZM876.514 531.578C872.898 531.578 869.314 531.331 865.769 530.844C866.746 524.002 867.545 517.117 868.176 510.205C870.926 510.596 873.711 510.798 876.514 510.798C910.861 510.798 938.807 481.348 938.807 445.151C938.807 408.954 910.861 379.504 876.514 379.504C870.787 379.504 865.152 380.343 859.746 381.934C858.211 375.177 856.508 368.471 854.635 361.829C861.693 359.773 869.002 358.698 876.514 358.698C921.736 358.698 958.527 397.481 958.527 445.151C958.527 492.806 921.736 531.578 876.514 531.578ZM867.191 425.529C870.039 424.026 873.195 423.207 876.514 423.207C887.994 423.207 897.334 433.05 897.334 445.149C897.334 457.247 887.994 467.09 876.514 467.09C873.996 467.09 871.777 466.637 869.836 465.948C869.615 452.439 868.723 438.912 867.191 425.529Z" fill="white"/>
                        <path id="Face dot" d="M697.168 143.533C696.223 142.905 695.273 142.284 694.318 141.662C684.572 135.331 671.795 138.529 665.785 148.804C659.775 159.079 662.81 172.538 672.562 178.872C673.402 179.415 674.24 179.967 675.076 180.522C678.506 182.799 682.328 183.884 686.101 183.884C692.99 183.884 699.73 180.269 703.672 173.67C709.771 163.455 706.859 149.961 697.168 143.533Z" fill="white"/>
                        </g>
                        <g id="eyesnormal">
                        <path id="left_7" d="M393.486 535.395C420.673 535.395 442.712 513.15 442.712 485.71C442.712 458.27 420.673 436.025 393.486 436.025C366.299 436.025 344.259 458.27 344.259 485.71C344.259 513.15 366.299 535.395 393.486 535.395Z" fill="white"/>
                        <path id="right_7" d="M623.798 535.395C650.985 535.395 673.025 513.15 673.025 485.71C673.025 458.27 650.985 436.025 623.798 436.025C596.611 436.025 574.572 458.27 574.572 485.71C574.572 513.15 596.611 535.395 623.798 535.395Z" fill="white"/>
                        </g>
                        </g>
                        </svg>
                <h3>ask 404</h3>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <img class="nav-icon" src="images/question.svg">
                <span class="nav-text">Preguntas</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <img class="nav-icon" src="images/charity.svg">
                <span class="nav-text">Sin responder</span> </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <img class="nav-icon" src="images/users.svg">
                <span class="nav-text">Usuarios</span></a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <a href="/profile">Mi perfil</a>
            </a>
        </li>
        <li class="nav-item">
            <img class="user-img">
            <h3>
                Usuario
            </h3>
            <button>Cerrar sesion</button>
        </li>
    </ul>

</nav>