<div class="container-xxl d-flex justify-content-center  ">
    <div class="row ">
        <div class="col-xl-8">
            <input type="search" placeholder="ðŸ”Buscar una preguntita" class="form-control " />
        </div>
        <div class="col-md-4">
            <button type="button" class="btn">
                <b class="text-center">Buscar</b>
            </button>
        </div>
    </div>

</div>