<div class="container-xxl d-flex justify-content-center  ">
    <form action="/users/search" name="searchQuery" method="GET">
        <div class="row ">
            <div class="col-xl-8">
                <input type="search" placeholder="ðŸ”Buscar un usuario" name="search" autocomplete="on" class="form-control " />
                <small id="searchHelp" class="form-text text-muted">Con poner algo parecido funciona</small>
            </div>
            <div class="col-md-4">
                <button class="btn" type="submit" value="Buscar">Buscar</button>
            </div>
        </div>
    </form>

</div>